{# templates/admin/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1>Admin Dashboard</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}">USER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_customer_index') }}">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_purchase_index') }}">Purchase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_location_index') }}">Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_product_index') }}">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_stock_index') }}">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_unit_index') }}">Unit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Sale API \Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Transfer API \Product</a>
                    </li>
                </ul>
            </div>
        </nav>

        {# Add the content of your admin dashboard here #}
    </div>
{% endblock %}