{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}
    <h1>Purchase</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ purchase.id }}</td>
        </tr>
        <tr>
            <th>Product</th>
            <td>{{ purchase.product }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ purchase.quantity }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ purchase.location }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ purchase.status }}</td>
        </tr>
        </tbody>
    </table>

    {# Include the "Approve" button if the status is set to 'draft' #}
    {% if purchase.status == 'draft' %}
        <form method="get" action="{{ path('app_purchase_approve', {'id': purchase.id}) }}" style="display: inline;">
            <button type="submit" class="btn btn-success">Approve</button>
        </form>
    {% endif %}

    <a href="{{ path('app_purchase_index') }}">back to list</a>

    <a href="{{ path('app_purchase_edit', {'id': purchase.id}) }}">edit</a>

    {{ include('purchase/_delete_form.html.twig') }}
    {# Add link to redirect to the home page #}
    <a href="{{ path('admin') }}">Go to Admin Home</a>
{% endblock %}
