<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
{#        {{ ('app') }}#}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyFgeT9RS8feWtFT97+SdQGOIfIePPPi6L"
              crossorigin="anonymous">

    {% endblock %}

    {% block javascripts %}
{#        {{ encore_entry_script_tags('app') }}#}
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/adminlte.css') }}">
        {# Add any other stylesheets #}
    {% endblock %}
</head>
<body>
{# Add link to redirect to the home page #}
<a href="{{ path('admin') }}">Go to Admin Home</a>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sonataadmin/admin.js') }}"></script>
    {# Add any other JavaScript files #}
{% endblock %}
</body>
</html>
