{% extends 'base.html.twig' %}

{% block body %}

    {{ status_code }} {{ status_text }}

    <p>{{ exception.message }}</p>

    {% if debug %}
        <pre>{{ exception.getTraceAsString }}</pre>
    {% endif %}

{% endblock %}

{% block title %}

    {{ status_code }} {{ status_text }}
    {# Add link to redirect to the home page #}
    <a href="{{ path('admin') }}">Go to Admin Home</a>

{% endblock %}

