{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{# Add link to redirect to the home page #}
<a href="{{ path('admin') }}">Go to Admin Home</a>
{{ form_end(form) }}
