{% extends 'base.html.twig' %}

{% block title %}Stock Index{% endblock %}

{% block body %}
    <h1>Stock Index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.product }}</td>
                <td>{{ stock.location }}</td>
                <td>{{ stock.quantity }}</td>
                <td>
                    <a href="{{ path('app_stock_show', {'id': stock.id}) }}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Add link to redirect to the home page #}
    <a href="{{ path('admin') }}">Go to Admin Home</a>
{% endblock %}
