{% extends 'base.html.twig' %}

{% block title %}Show Stock{% endblock %}

{% block body %}
    <h1>Show Stock</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ stock.id }}</td>
        </tr>
        <tr>
            <th>Product</th>
            <td>{{ stock.product }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ stock.location }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ stock.quantity }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}">Back to Index</a>
{% endblock %}
