{# templates/user/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1>User List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-success">Create new user</a>
    {# Add link to redirect to the home page #}
    <a href="{{ path('admin') }}">Go to Admin Home</a>
{% endblock %}
