{# templates/user/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New User{% endblock %}

{% block body %}
    <h1>Create New User</h1>

    {{ form_start(form) }}
    {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.profilePicture, {'attr': {'class': 'form-control-file'}}) }}

    {# Add other form fields if needed #}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('user_index') }}" class="btn btn-secondary">Cancel</a>
    </div>
    {{ form_end(form) }}
    {# Add link to redirect to the home page #}
    <a href="{{ path('admin') }}">Go to Admin Home</a>
{% endblock %}
